/*
 This is a CSS file to be used with “dates_and_times_in_DH” in
 addition to the standard WWP CSS. I am using it because there are
 elements of the TEI styling I want, but do not want to load the
 entirety of tei.css. So I am tucking them in here and inserting them
 in my output using the cssInlineFiles parameter. The inline CSS *may*
 have been replaced by a link to this file, but if it hasn’t, making a
 change here in the CSS file will not change the output appearence
 until you re-build the HTML.  — Syd
*/


/* --------- phrase-level markup for tagdocs --------- */
span.gi { font-family: monospace; }
span.val { font-family: monospace; }
span.att { font-family: monospace; }
span.att:before { content: "@"; } /* The TEI uses CSS for preceding attr names with ampersat, so we do, too */
span[class|="tag"] { font-family: monospace; }
span.head span.gi { font-size: larger; } /* I do not understand why this is needed */
/* --------- and for boutique elements for this document --------- */
span.fix { color: red; }
span.var { color: green; }
p.fineprint { font-size: 75%; }

pre.pre_eg { margin: 0em 0em 1.5em 1em; }

figcaption.caption {
    text-align: center;
    font-weight: bold;
}

/* I want to over-ride the _really_ narrow columnar feeling of normal
   WWP style, and per Ash Clark, this is how to do it. */
div.content { grid-area: sidebar1-start / sidebar1-start / last-line / sidebar2-end; }

/* Some other WWP over-rides */
body.simple { margin: inherit; }
div.content ul li {
    line-height: 1.0em;
    background: url('../../../../utils/gfx/wwp-list-bullet.png') 0 0.5em no-repeat;
}
div.content .tei_toc ul li {
    line-height: 1.2em;
    background: white;
}
sub { vertical-align: revert; }

/* No point in having anchorlinks, as for now they only appear on
   <eg>, of which this document only has 2, neither of which are worth
   having a link to. */
a.anchorlink {  display: none; margin: 0 0 0 1em; }

div.titlePage {
    text-align: center;
}
div.docAuthor {
    font-size: 80%;
}
div.docTitle {
    font-size: 150%;
    font-style: italic;
}
div.docImprint {
    font-size: 110%;
}
div.docDate {
    font-size: 90%;
}

/* special-case our title */
span[class~="titlem"][class~="sub"] {
  display: inline-block;
  font-size: 75%;
  line-height: 1;
}

/* make sure foreign things (in our case, all French) are italicized */
span:lang(fr) { font-style: italic; }

/* tei.css has an entry for span.listhead, but the Stylesheets produce div.listhead */
div.listhead {
    display:block;
    margin-top:0em;
    margin-right:1em;
    padding-left:3px;
    padding-right:3px;
    font-weight:bold;
    /* same as TEI for span.listhead, above; added below */
    text-decoration-line: underline;
}

/* --------- egXML --------- */
/*
XML-serialization, large portions of which are modified from John
Walsh's teibp.css, a part of the TEI boilerplate system; and colors
for which are mostly taken from oXygen.
*/

/* <figure> itself needs to look a bit better … */
figure.figure {
                display: block;
                border-top:solid 1pt blue;
                border-bottom:solid 1pt blue;
}

/* Allow user to scroll wide examples L & R */
pre { overflow: auto; }

pre.egXML {
 display: pre;
 margin-left: 1em;
 padding-left: 1em;
 border-left: 0.5ex solid #A0BEBE;
 margin: 0em 0em 1.5em 0em;
 padding-top: .75em;
 padding-bottom: .75em;
 font-family: monospace;
 white-space: pre;
 line-height: 120%;
 }
.eg-tag {
color: #0064C8;
}
.eg-tei {
color: #000096;
}
.eg-com {
color: #006400;
}
.eg-attrName, .eg-nsdecl {
color: #F5844C;
}
.eg-attrVal, .eg-ns {
color: #993300;
}
.eg-content {
color: #000000;
}
.eg-lit {
color: #969600;
}
.eg-pi {
color: #8B26C9;
}
/* --------- */
